body {
    font-family: sans-serif;
    background: linear-gradient(90deg,#5b6542,#20948b);
    margin-top: 75px;
    color: #9b4f0f;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

