body {
    font-family: sans-serif;
    background: linear-gradient(-45deg,#5b6542,#ffbb00);
    margin-top: 75px;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

